@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply w-full h-full bg-gray-50;
}

#__next {
  @apply w-full h-full;
  font-family: 'SF Mono', 'Fira Code', 'Courier New', Courier, monospace;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.input-wrapper {
  max-width: 300px;
}

.input-wrapper input {
  width: 100%;
  height: 40px;
  border: 1px solid #333;
  padding: 5px 10px;
}
